:root{
    --cor-de-fundo: #ff008a;
    --cor-de-texto:#fff;
    --fundo-senha:#1e1bdb;
    --borda:#649856;
}
body{
    height: 100vh;
    background: rgb(0, 29, 36);
    background: linear-gradient(43deg, #1e1bdbs);
}